{% extends 'admin/base.html.twig' %}

{% block title %}Modification d'une formation{% endblock %}
{% form_theme form 'admin/formation/_collection.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-3">Modification de la formation : {{ formation.titre }}</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}
        <div class="row">
            <div class="cols-6">
                <button type="submit" class="btn btn-primary">Enregistrer les Modifications</button>
            </div>
            <div class="cols-6">
                <a href="{{ path('admin_formations_index') }}" class="btn btn-secondary">Abandonner</a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/formation.js"></script>
{% endblock %}