{% block _theme_questions_widget %}
    <h5 class="text-center">Rajoutez ici les questions prédéfinies pour le thème</h5>
    <div class="container">
        {{ form_widget(form) }}
        <input type="hidden" id="widgets-counter" value="0">
    </div>
    <div class="form-group text-center">
        <button type="button" id="add-question" class="btn btn-primary">Ajouter une question</button>
    </div>
{% endblock %}

{% block _theme_questions_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _theme_questions_entry_widget %}
    <div class="form-group" id="block_{{id}}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col-10">
                        {{ form_widget(form.libelle) }}
                        {{ form_errors(form.libelle) }}
                    </div>
                    <div class="col-2">
                        {{ form_widget(form.note) }}
                        {{ form_errors(form.note) }}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger"><i class="fas fa-trash"></i></button>
            </div>
        </div>
    </div>
{% endblock %}
