{% extends 'base.html.twig' %}

{% block title %}{{ module.titre }} {% endblock %}

{% block body %}
<div class="module-titre">
    <div class="container">
        <h1 class="text-center mt-3">Module : {{ module.titre }}</h1>
        <h4 class="card-title text-center">{{module.stitre}}</h4>
        <p>{{ module.description | raw }}</p>
    </div>
    <div class="container">
        <h2 class="text-center">Listes des Formations comprenant ce module</h2>
        <div class="row">
            {% for i in 1..6 %}
                <div class="col-md-4 border-dark">
                    <div class="card  mb-3">
                        <div class="card-header text-center">
                            formation {{ i }}
                        </div>
                        <div class="card-body ">
                            <h4 class="card-title text-center">Description de la formation</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur aut at aspernatur, magni inventore asperiores quod voluptates tempore nam ipsa ab quis suscipit reprehenderit ratione facere numquam aliquid dicta officia.</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        
        </div>
    </div>
</div>
{% endblock %}
