{% extends 'base.html.twig' %}

{% block title %}{{ theme.titre }} {% endblock %}

{% block body %}
<div class="theme-titre">
    <div class="container">
        <h1 class="text-center mt-3">Thème : {{ theme.titre }}</h1>
        <h4 class="card-title text-center">{{theme.stitre}}</h4>
        <p>{{ theme.description | raw }}</p>
    </div>
    <div class="container">
        <h2 class="text-center">Listes des formations sur ce thème</h2>
        <div class="row">
            {% for formation in formations %}
                <div class="col-md-4 border-dark">
                    <div class="card  mb-3">
                        <div class="card-header text-center">
                            {{ formation.titre }}
                        </div>
                        <div class="card-body ">
                            <h4 class="card-title text-center">{{ formation.stitre }}</h4>
                            <p class="card-text">{{ formation.description | raw}}</p>
                        </div>
                        <button class="btn btn-secondary">
                            <a href="{{ path('formation_show',{'slug':formation.slug}) }}">Consulter</a>
                        </button>
                    </div>
                </div>
            {% endfor %}
        
        </div>
    </div>
</div>
{% endblock %}
